# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual environments
venv/
.venv/
env/
bin/
Include/
lib/
lib64/
share/
pyvenv.cfg

voice_clone_test/venv/
voice_clone_test/.venv/
voice_clone_test/models/
voice_clone_test/outputs/
*.safetensors
__pycache__/


.env
env
**/.env
